[submodule "repos/wayland"]
	path = repos/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "repos/wayland-protocols"]
	path = repos/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "repos/wlr-protocols"]
	path = repos/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "repos/hyprland-protocols"]
	path = repos/hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols.git
[submodule "repos/treeland-protocols"]
	path = repos/treeland-protocols
	url = https://github.com/linuxdeepin/treeland-protocols.git
[submodule "repos/jay-protocols"]
	path = repos/jay-protocols
	url = https://github.com/mahkoh/jay-protocols.git
[submodule "repos/plasma-wayland-protocols"]
	path = repos/plasma-wayland-protocols
	url = https://invent.kde.org/libraries/plasma-wayland-protocols.git
[submodule "repos/weston"]
	path = repos/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "repos/cosmic-protocols"]
	path = repos/cosmic-protocols
	url = https://github.com/pop-os/cosmic-protocols.git
[submodule "repos/river"]
	path = repos/river
	url = https://codeberg.org/river/river.git
[submodule "repos/external"]
	path = repos/external
	url = https://github.com/mahkoh/wayland-db-external.git
